.faq_7 * {
    font-family: Nunito, sans-serif;
}

.faq_7 .responsive-cell-block {
    min-height: 75px;
}

.faq_7 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.faq_7 .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.faq_7 .faq-head-bg {
    background-color: #03a9f4;
    color: white;
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
    padding-left: 60px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
}

.faq_7 .text-blk.faq-heading1 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 900;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.faq_7 .text-blk.faq-subheading {
    font-size: 18px;
    line-height: 26px;
}

.faq_7 .faq-dropdown-bg {
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
    padding-left: 60px;
}

.faq_7 .faq {
    display: block;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

.faq_7 .faq-question-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.faq_7 .faq-question-container:hover {
    cursor: pointer;
}

.faq_7 .text-blk.faq-questions {
    color: #525252;
    font-size: 20px;
}

.faq_7 .text-blk.faq-answer {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: #9c9c9c;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.faq_7 .text-blk.faq-subheading {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 590px;
    font-size: 18px;
}

.faq_7 .answer-box {
    max-height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: max-height;
}

.faq_7 .faq.active .openimg {
    transform: rotate(180deg);
}

.faq_7 .openimg {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: transform;
}

.faq_7 .faq.active .answer-box {
    max-height: 550px;
}

.faq_7 .faq-head-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 450px;
}

.faq_7 .container-block {
    max-width: 800px;
}

@media (max-width: 1024px) {
    .faq_7 .text-blk.faq-answer {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .faq_7 .text-blk.faq-heading1 {
        font-size: 30px;
        line-height: 40px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .faq_7 .faq-head-content {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        max-width: 500px;
        text-align: center;
    }

    .faq_7 .faq-head-bg {
        padding-top: 50px;
        padding-right: 60px;
        padding-bottom: 30px;
        padding-left: 60px;
    }

    .faq_7 .faq-dropdown-bg {
        padding-top: 50px;
        padding-right: 60px;
        padding-bottom: 50px;
        padding-left: 60px;
    }

    .faq_7 .text-blk.faq-questions {
        font-size: 18px;
    }

    .faq_7 .text-blk.faq-answer {
        font-size: 16px;
    }

    .faq_7 .text-blk.faq-subheading {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}

@media (max-width: 500px) {
    .faq_7 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-5.faq-head-bg {
        padding-top: 80px;
        padding-right: 30px;
        padding-bottom: 80px;
        padding-left: 30px;
    }

    .faq_7 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-7.faq-dropdown-bg {
        padding-top: 80px;
        padding-right: 30px;
        padding-bottom: 80px;
        padding-left: 30px;
    }

    .faq_7 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-5.faq-head-bg {
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .faq_7 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-7.faq-dropdown-bg {
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 30px;
    }

    .faq_7 .text-blk.faq-answer {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 22px;
        font-size: 16px;
    }

    .faq_7 .text-blk.faq-questions {
        font-size: 18px;
    }

    .faq_7 .text-blk.faq-heading1 {
        font-size: 26px;
    }

    .faq_7 .text-blk.faq-subheading {
        font-size: 17px;
        line-height: 24px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}